@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import "nav.css";
@import "buttons.css";
@import "collapsibles.css";

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    margin: 0;
    padding: 0;
}

.intro {
    display: flex;
    column-gap: 2vw;
    align-items: center;
    border: aqua 1px solid;
    height: fit-content;
}
.intro .text {
    width: 30vw;
}

.page {
   border: pink 1px solid;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}