@import "colors.css";

nav {
    display: grid;
    align-items: center;

    grid-template-columns: auto 1fr repeat(3, 12vw) ;
    margin: 10px;

    column-gap: 5px;
}

.line  {
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 10px;
    margin-left: 0;
}

#bild {
    margin-right: 10px;
}

#bild > img:hover {
    opacity: 80%;
}