@import "colors.css";

nav {
    display: grid;
    align-items: center;

    grid-template-columns: auto 1fr 15.5vh 15.5vh 15.5vh ;
    margin: 10px;
}

.line  {
    border-radius: 5px;
    border: 1px solid black;
    margin: 0 10px;
    margin-left: 0;
}

#bild {
    margin-right: 10px;
}